.grid a {
    transition: all .2s linear;
    border-radius: 8px;
}

.grid a:hover {
    box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.2)
}

.grid div {
    border: 2px solid rgb(72, 173, 0);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-image {
    width: 100px;
    height: 200px;
    margin: 0 auto;
}

.product-title {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}